<div class="col-xs-12">
	<ul class="list-group" id="posts">
		<li id="{[{ post.id }]}" class="list-group-item"
			ng-repeat="post in posts">
			<div class="post_boxes">
				<div class="score circle {[{ post.score < 0 ? 'down' : 'up' }]}" ng-title="{[{ n2a(post.score) + ' votes' }]}">
					<span class="num" ng-bind="n2a(post.score)"></span> <span
						class="votes">votes</span>
				</div>
				<div class="thumb-wrap">
					<a ng-href="{[{ getPermalink(post) }]}" target="_blank" /><img
						class="img-thumbnail img-responsive" alt="{[{ post.title }]}"
						ng-src="{[{ isImage(post.thumbnail) ? post.thumbnail : 'https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=90' }]}" /></a>
				</div>
			</div>
			<div class="post_summary">
				<h2 class="post_title">
					<a ng-href="{[{ getPermalink(post) }]}" target="_blank" />{[{ post.title }]}</a>
				</h2>
				<div class="post_excerpt">
					<p class="post_meta">
						submitted <span class="since" ng-bind="timeSince(post.created_utc)"></span>
						ago by <span class="author" ng-bind="post.author"></span><span
							ng-hide="post.distinguished == null"> (M)</span><span
							class="announcement" ng-show="post.stickied == true"> - <i>announcement</i></span>
					</p>
					<p class="comments">
						<a ng-href="{[{ getPermalink(post) }]}" target="_blank"><span
							ng-bind="post.num_comments"></span> comments</a>
					</p>
				</div>
				<div class="post_content">
					<p class="more" read-more="post.selftext" read-more-label-expand="expand"
						read-more-label-collapse="collapse"
						read-more-target="#desc_{[{ post.id }]}"></p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div id="desc_{[{ post.id }]}" class="content well well-sm collapse">
				<div ng-bind="post.selftext"></div>
			</div>
		</li>
	</ul>
</div>